# ===== Terraform local cache & state files =====
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json

# ===== AWS credentials =====
~/.aws/
*.pem
*.key

# ===== IDE / Editor files =====
.vscode/
.idea/
*.swp

# ===== OS files =====
.DS_Store
Thumbs.db
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

